*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:#dcecff;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

.phone{
    width:380px;
    background:#fff;
    border-radius:30px;
    overflow:hidden;
    box-shadow:0 15px 35px rgba(0,0,0,.15);
}

header{
    background:#2f7df6;
    color:white;
    padding:20px;
}

header h2{
    font-size:28px;
}

.content{
    padding:25px;
}

label{
    display:block;
    font-weight:bold;
    margin-top:20px;
    margin-bottom:8px;
    font-size:18px;
}

select,
input{
    width:100%;
    padding:15px;
    border:1px solid #ccc;
    border-radius:15px;
    font-size:18px;
    outline:none;
}

select:focus,
input:focus{
    border-color:#2f7df6;
}

button{
    width:100%;
    margin-top:35px;
    padding:16px;
    border:none;
    border-radius:15px;
    background:#2f7df6;
    color:white;
    font-size:22px;
    cursor:pointer;
    transition:.3s;
}

button:hover{
    background:#1f65d8;
}

.back{
    display:block;
    text-align:center;
    margin-top:25px;
    color:#2f7df6;
    font-weight:bold;
    text-decoration:none;
    font-size:18px;
}

.back:hover{
    text-decoration:underline;
}
